# This file can be used to include all the ignore files/directories which should not be commited to the git repository
# Some nice sample templates can be found in: https://github.com/github/gitignore

# Ignore the vim session files
*.vim

# Ignore the clang_complete file
.clang_complete

# Ignore the tags files
tags
